* {
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 2em;
  margin: 0 auto;
  padding: 0;
  /* border: 1px solid #000;; */
}

body {
  width: 500px;
  height: auto;
  padding: 0.5em;
  font-size: 14px;
}

h1 {
  line-height: 1.5em;
}

h2 {
  font-size: 20px;
  margin-top: 1em;
}

h3 {
  font-size: 16px;
}

ul {
  list-style-position: inside;
}

ol {
  list-style-position: outside;
  margin-left: 1em;
}

ol > * {
  margin-bottom: 1em;
  padding-left: 0.25em;
}

.navbar {
  padding: 0.75em 0;
}

.nav-list {
  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
  margin: 0.5em 0;
}
